* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    --x: 50%;
    --y: 50%;

    background:
        radial-gradient(
            circle at var(--x) var(--y),
            rgba(255,255,255,0.25),
            transparent 40%
        ),
        linear-gradient(135deg, #1e3a8a, #1745a8, #0a73a1);

    background-size: 200% 200%;
    animation: gradientBG 12s ease infinite;

    font-family: 'Segoe UI', Tahoma, sans-serif;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(
            circle at var(--x) var(--y),
            rgba(56,189,248,0.35),
            transparent 50%
        );
    pointer-events: none;
    transition: background 0.1s linear;
}

.wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .bxs-lock-alt,
.input-box .bxs-user {
    right: 12px;
}

.input-box #togglePassword {
    right: 12px;
    cursor: pointer;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}